

body{
    background-color: #212F3D;
    font-family: Arial, Helvetica, sans-serif;
}


h1.title{
    font-size: 7vh;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
}

div.buttons{
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%, -50%);
    height:10vh;
}

button.home, button.fullscreen, button.stores, button.library{
    background-color: #2C3E50;
    cursor: pointer;
    border-radius: 50vh;
    height:10vh;
    width: 20vh;
}

h2.quick_launch{
    margin-top: 40vh;
    margin-left: 20vh;
}

