h1.title{
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
}

div.buttons{
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%, -50%);
    height:100px;
}

button.home, button.fullscreen, button.stores, button.library, button.donations{
    background-color: #6C3483;
    cursor: pointer;
    border-radius: 50vh;
    height:50px;
    width: 100px;
}

